<ul class="list-group">
  <li class="list-group-item"><h2><b>Forecast</b></h2></li>
  <li class="list-group-item">City: <%= @city %></li>
  <li class="list-group-item">State: <%= @state %></li>
  <li class="list-group-item">Country: <%= @country %></li>
  <li class="list-group-item">Temperature: <%= @temperature %><%= @units %></li>
</ul>
